 body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
   background-image: url(biru.png);
   background-size: 1300px 600px;
   background-repeat: no-repeat;
}
.container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 15px 15px 20px rgba(5,5,5.5);
  text-align: center;
  background-color:transparent;

}
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  width: 95%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover { background: #0056b3; }
#message { margin-top: 10px; color: #751c89; } 









































